apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
data:
  database: "messaging_app"
  host: "db"
  port: "3306"
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  username: "messaging_user"
  password: "messaging_password"

